version: '3.4'

services:
  catalogdb:
    image: mongo
    restart: "no"
  
  basketdb:
    image: redis:alpine
    restart: "no"

  discountdb:
    image: postgres
    restart: "no"
  
  pgadmin:
    image: dpage/pgadmin4
    restart: "no"
  
  portainer:
    image: portainer/portainer-ce

  catalog.api:
    image: ${DOCKER_REGISTRY-}catalogapi
    build:
      context: .
      dockerfile: Services/Catalog/Catalog.API/Dockerfile
  
  basket.api:
    image: ${DOCKER_REGISTRY-}basketapi
    build:
      context: .
      dockerfile: Services/Basket/Basket.API/Dockerfile

  discount.api:
    image: ${DOCKER_REGISTRY-}discountapi
    build:
      context: .
      dockerfile: Services/Discount/Discount.API/Dockerfile

volumes:
  mongo_data:
  portainer_data:
  postgres_data:
  pgadmin_data:
  
